
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1.bem-vindo{
    color: rgba(0, 0, 0, 0.774);
    padding: 0 30px;
    font-family: "DM Serif Display", serif;
    font-weight: bold;
    font-style: normal;   
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    position: relative;
    top: 35px; 
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(100, 200, 255, 0.6), 0 0 45px rgba(200, 100, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave para o efeito de hover */
}


h2.bingoGalerinha{
    color: rgba(55, 5, 136, 0.705);
    padding: 0 30px;
   font-family: "Permanent Marker", cursive;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    position: relative;
    top: 60px; 
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(100, 200, 255, 0.6), 0 0 45px rgba(200, 100, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave para o efeito de hover */
}



html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #63e2f3, #b05ad8, #00ffcc, #9900ff);
  background-size: 400% 400%; /* deixa a área maior para a animação se mover */
  animation: gradientMove 15s ease infinite; /* chama a animação */
  position: relative;
}

/* Animação do gradiente */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.container-tabela{
    width: auto;
    position: absolute; /* Posicionamento absoluto */
    top: 50px;         /* Ajuste a distância do topo conforme necessário */
    right: 50px;        /* Distância da borda direita */
    padding-top: 0;
    
}

.tabela-bingo {
    border-spacing: 4px;
    border-collapse: separate; /*Necessário para o border-radius funcionar */
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;

}

.tabela-bingo th, .tabela-bingo td {
    text-align: center;
}

.tabela-bingo th {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    padding: 2px 50px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #7a4ff0b2;
    font-size: 2.6rem;
    border-radius: 450px;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(100, 200, 255, 0.6), 0 0 45px rgba(200, 100, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave para o efeito de hover */

}

/* Estilo para as células de dados (números) */
.tabela-bingo td {
    border: 1px solid rgb(0, 0, 0);
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    color: #141212;
    background-color: #f5f4f486;
    padding: 4px 1px;
    border-radius: 500px;

}

.btnSortear{
    color: #fff; /* Alterei a cor do texto para branco para melhor contraste */
    padding: 15px 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;    font-size: 2rem;
    border-radius: 10px;
    border: none; /* Adicionado para remover a borda padrão */
    background: linear-gradient(-45deg, #ff00cc, #3333ff, #00ffcc, #ff9900);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    cursor: pointer;
    display: block; /* Faz o botão se comportar como um bloco */
    margin-left: 30px; /* Centraliza horizontalmente */
    margin-top: 100px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(100, 200, 255, 0.6), 0 0 45px rgba(200, 100, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave para o efeito de hover */
}


.btnSortear:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1),
    0 0 40px rgba(100, 200, 255, 0.8),
    0 0 60px rgba(200, 100, 255, 0.6);
}



.logo_bingo{
    height: 400px;
    vertical-align: middle;
}

h2.numSorteado{
    color: rgb(90, 3, 83);
    padding: 0 30px;
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    position: relative;
    margin-top: 20px; 
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(100, 200, 255, 0.6), 0 0 45px rgba(200, 100, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave para o efeito de hover */
}
